
# NO .ini to git
homeserver/server.ini
homeserver/server.log
/*.log

# ignore python temp files
*.pyc
__pycache__
*.egg*

# compiled voice control
*.so

# leave out of git
*.json
*.wav
*.vaw

# python virtual env
henv

# random local folders
setitysta
installation_temp

# snowboy installation repo
installation/snowboy

# vscode
*codews*
