{% extends "layout.html" %}
{% block content %}

	 <script type="text/javascript">

        let pollRunning = false;
        let pollTimeout = 30000;

        function submitAndUpdateStatus(url){
	        console.log(url);
	        $.post(url, {
	        }).done(function(response) {            
	            // start polling for device status
	            if (!pollRunning){
	                pollStatus();       
	                polRunning = true;         
	            }                        
	            console.log("got response", response);
	        }).fail(function() {
	            console.log("failed");
	        });
	    }


	    function pollStatus(){
	        $.post("{{url_for('status')}}", function(response) {
	            console.log('got response', response)
	            updateInterfaceStatus(response);	            
	            setTimeout(pollStatus,pollTimeout);
	        });
	    }

	    function updateInterfaceStatus(response) {

	    	console.log(Object.keys(response.interfaces));

	    }	    

	    pollStatus();
    </script>
    

    <div class = "device-container">
	    <div class="border-bottom mb-2">
	    	<h2 class="pt-3">Here are your devices </h2>
	    </div>

	    
	    {% for interface in interfaces %}

			<div class="bg-white mt-2 p-2 rounded-top">	

				<div class="row">					
					<h3 class="col-sm-10 "> {{ interface.name }} {% if not interface.connected %} (offline) {% endif %}</h3>    
						<div class="form-check">				
							<input  class="my-on-toggle toggle_interface{{interface.dev_id|string}}" data-toggle="toggle" type="checkbox" 
								data-onstyle="success" data-offstyle="info"
								onchange="submitAndUpdateStatus('{{url_for( 'device_action', interface_id=interface.dev_id|string, action='toggle') }}');" 							
								{% if not interface.connected %} disabled {% endif %}
								{% if interface.is_on %} checked  {% endif %} >
						</div>				                
				</div>

				{% for device in interface.devices %}

					{% if interface.connected %}
					<div class="row p-3">
						<div class="col-sm-4">
							<p class="text-body"> located at {{ device.location}} </p>					
						</div>	
						{% if interface.devices |length > 1 %}				
								<div class="form-check">				
									<input  class="my-on-toggle toggle_device{{device.dev_id|string}}" data-toggle="toggle" type="checkbox" 
										data-onstyle="success" data-offstyle="info"
										onchange="submitAndUpdateStatus('{{url_for('device_action', interface_id=interface.dev_id|string, device_id=device.dev_id|string, action='toggle' )}}');" 
										{% if device.is_on %} checked  {% endif %} 
										{% if not device.enabled %} disabled {% endif %}>
								</div>				                
						{% endif %}
					</div>
					{% endif %}

				{% endfor %}
			</div>    
		{% endfor %}

		<div class="pt-5 pb-5 mx-auto">
			<div class="col-sm-6">
				<span > Getting Device info. </span>
				<img id="devices_loading_icon" src="{{ url_for('static', filename='loading.gif') }}">	
			</div>
		</div>


    	
    </div>

    

{% endblock %}

