[program:homeserver]
directory=/path/to/server
command=/path/to/server/henv/bin/gunicorn -w 1 homeserver:app
user=miika
autostart=true
autorestart=true
stopasgroup=true
killasgroup=true
stderr_logfile=/var/log/homeserver/error.log
stdout_logfile=/var/log/homeserver/server.log